services:
  aidbox:
    image: healthsamurai/aidboxone:${AIDBOX_IMAGE_TAG:-2510}
    environment:
      # https://www.health-samurai.io/docs/aidbox/reference/all-settings
      # deploy-specific details
      BOX_WEB_BASE_URL: https://aidbox.${BASE_DOMAIN}
      BOX_ADMIN_PASSWORD: ${BOX_ADMIN_PASSWORD:-admin}
      BOX_DB_HOST: db
      BOX_DB_DATABASE: aidbox
      BOX_DB_USER: postgres
      BOX_DB_PASSWORD: postgres

      # use recommended values over defaults
      BOX_BOOTSTRAP_FHIR_PACKAGES: "hl7.fhir.r4.core#4.0.1"
      BOX_FHIR_TERMINOLOGY_SERVICE_BASE_URL: https://tx.health-samurai.io/fhir
      BOX_FHIR_SCHEMA_VALIDATION: true
      BOX_FHIR_CREATEDAT_URL: https://aidbox.app/ex/createdAt
      BOX_FHIR_CORRECT_AIDBOX_FORMAT: true
      BOX_SETTINGS_MODE: read-write
      BOX_FHIR_COMPLIANT_MODE: true
      BOX_FHIR_SEARCH_COMPARISONS: true
      BOX_FHIR_JSON_SCHEMA_DATETIME_REGEX: "#{:fhir-datetime}"
      BOX_FHIR_SEARCH_INCLUDE_CONFORMANT: true
      BOX_FHIR_SEARCH_AUTHORIZE_INLINE_REQUESTS: true
      BOX_SECURITY_AUDIT_LOG_ENABLED: true
    depends_on:
      - db
    expose:
      - 8080
    networks:
      - internal
    healthcheck:
      test: curl -f http://localhost:8080/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 90
      start_period: 30s
  db:
    image: postgres:${POSTGRES_IMAGE_TAG:-18}
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql
      # mount db creation script in place for bootstrap
      - ./config/db:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test:
        - CMD
        - pg_isready
        - --user=postgres
        - --dbname=aidbox
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - internal
volumes:
  db-data: {}
networks:
  # internal network for backing services
  internal:
  # ingress network
  ingress:
    external: true
    name: external_web
